In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
high_schools

['Hernandez High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

In [3]:
print("high_schools")

high_schools

In [4]:
print(high_schools)

['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']

In [5]:
for school in high_school:
    print(school)

NameError: name 'high_school' is not defined

In [6]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [7]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [8]:
for school, type in high_schools:
    print(school, type)

ValueError: too many values to unpack (expected 2)

In [9]:
for school in high_schools:
    for types in school
    print(school[type])

SyntaxError: invalid syntax (<ipython-input-9-f5e2f8b61e66>, line 2)

In [10]:
for school in high_schools:
    for types in school:
    print(school[type])

IndentationError: expected an indented block (<ipython-input-10-5201f42d38c7>, line 3)

In [11]:
for school in high_schools:
    for types in school:
        print(school[types])

TypeError: string indices must be integers

In [12]:
for school in high_schools:
    for types in school:
        print(school[types])

TypeError: string indices must be integers

In [13]:
for school in high_schools:
    for key in school:
        print(school[key])

TypeError: string indices must be integers

In [14]:
for school, types in high_schools:
    print (school, types)

ValueError: too many values to unpack (expected 2)

In [15]:
for school, types in high_schools.items():
    print (school, types)

AttributeError: 'list' object has no attribute 'items'

In [16]:
print(high schools)

SyntaxError: invalid syntax (<ipython-input-16-5dc40adc3564>, line 1)

In [17]:
for school, types in high_school_types:
    print (school, types)

NameError: name 'high_schools_types' is not defined

In [18]:
for school, types in high_school_types:
    print (school, types)

High School Type
High School Type
High School Type
High School Type

In [19]:
for school in high_school_types:
    for types in school:
        print(school[types])

NameError: name 'high_schools_types' is not defined

In [20]:
for school in high_school_types:
    for types in school:
        print(school[types])

Griffin
District
Figueroa
District
Wilson
Charter
Wright
Charter

In [21]:
for school in high_school_types:
    for types in school:
        print(f"High School:{school}, Type:{types}"")

SyntaxError: EOL while scanning string literal (<ipython-input-21-21a1e11effaf>, line 3)

In [22]:
for school in high_school_types:
    for types in school:
        print(f"High School:{school}, Type:{types}")

High School:{'High School': 'Griffin', 'Type': 'District'}, Type:High School
High School:{'High School': 'Griffin', 'Type': 'District'}, Type:Type
High School:{'High School': 'Figueroa', 'Type': 'District'}, Type:High School
High School:{'High School': 'Figueroa', 'Type': 'District'}, Type:Type
High School:{'High School': 'Wilson', 'Type': 'Charter'}, Type:High School
High School:{'High School': 'Wilson', 'Type': 'Charter'}, Type:Type
High School:{'High School': 'Wright', 'Type': 'Charter'}, Type:High School
High School:{'High School': 'Wright', 'Type': 'Charter'}, Type:Type

In [23]:
for school in high_school_types:
    for types in school:
        print(f"{school}, {types}")

{'High School': 'Griffin', 'Type': 'District'}, High School
{'High School': 'Griffin', 'Type': 'District'}, Type
{'High School': 'Figueroa', 'Type': 'District'}, High School
{'High School': 'Figueroa', 'Type': 'District'}, Type
{'High School': 'Wilson', 'Type': 'Charter'}, High School
{'High School': 'Wilson', 'Type': 'Charter'}, Type
{'High School': 'Wright', 'Type': 'Charter'}, High School
{'High School': 'Wright', 'Type': 'Charter'}, Type

In [24]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [25]:
for school in high_school_types:
        print(f"{school}, {types}")

{'High School': 'Griffin', 'Type': 'District'}, High School
{'High School': 'Griffin', 'Type': 'District'}, Type
{'High School': 'Figueroa', 'Type': 'District'}, High School
{'High School': 'Figueroa', 'Type': 'District'}, Type
{'High School': 'Wilson', 'Type': 'Charter'}, High School
{'High School': 'Wilson', 'Type': 'Charter'}, Type
{'High School': 'Wright', 'Type': 'Charter'}, High School
{'High School': 'Wright', 'Type': 'Charter'}, Type

In [26]:
for school in high_school_types:
        print(f"{school}")

{'High School': 'Griffin', 'Type': 'District'}, Type
{'High School': 'Figueroa', 'Type': 'District'}, Type
{'High School': 'Wilson', 'Type': 'Charter'}, Type
{'High School': 'Wright', 'Type': 'Charter'}, Type

In [27]:
for school in high_school_types:
        print(f"{school}")

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [28]:
for school in high_school_types:
        print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [29]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [30]:
# Add the Pandas dependency.
import pandas as pd
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [31]:
for schools in school_series:
    print(schools)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [32]:
for i in school_series:
    print([i])

['Huang High School']
['Figueroa High School']
['Shelton High School']
['Hernandez High School']
['Griffin High School']
['Wilson High School']
['Cabrera High School']
['Bailey High School']
['Holden High School']
['Pena High School']
['Wright High School']
['Rodriguez High School']
['Johnson High School']
['Ford High School']
['Thomas High School']

In [33]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [34]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [35]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [36]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [37]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [38]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [39]:
high_schools_dict_df = pd.DataFrame(high_schools_dict)

NameError: name 'high_school_dict' is not defined

In [40]:
high_schools_dict_df = pd.DataFrame(high_schools_dict)

In [41]:
high_schools_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [42]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [43]:
 df.index

NameError: name 'df' is not defined

In [44]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [45]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [46]:
school_ID = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [47]:
school_name = ["huang", "figueroa", "shelton", "hernandez", "griffin", "wilson", "cabrera", "baily", "holden", "pena", "wright", "rodriguez", "johnson", "ford", "thomas"]

In [48]:
school_type = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

In [49]:
hs_dict = {'School ID': school_id, 'school_name':school_name, 'type':school_type}

In [50]:
hs_dict_df = pd.DataFrame(hs_dict)

ValueError: arrays must all be same length

In [51]:
school_name

['huang',
 'figueroa',
 'shelton',
 'hernandez',
 'griffin',
 'wilson',
 'cabrera',
 'baily',
 'holden',
 'pena',
 'wright',
 'rodriguez',
 'johnson',
 'ford',
 'thomas']

In [52]:
school_type

['District',
 'District',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'District',
 'District',
 'District',
 'Charter']

In [53]:
school_id

[0, 1, 2, 3, 4]

In [54]:
hs_dict = {'School ID': school_ID, 'school_name':school_name, 'type':school_type}

In [55]:
hs_dict_df = pd.DataFrame(hs_dict)

In [56]:
hs_dict_df

    School ID school_name      type
0           0       huang  District
1           1    figueroa  District
2           2     shelton   Charter
3           3   hernandez  District
4           4     griffin   Charter
5           5      wilson   Charter
6           6     cabrera   Charter
7           7       baily  District
8           8      holden   Charter
9           9        pena   Charter
10         10      wright   Charter
11         11   rodriguez  District
12         12     johnson  District
13         13        ford  District
14         14      thomas   Charter